.list-table-format {
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 0.5fr;
    align-items: center;
    gap: 10px;
    padding: 12px 15px;
    border: 1px solid #cacaca;
    font-size: 14px;
}

.list-table-format b {
    font-size: 18px;
    color: #ff5200;
}

.list-table-format.title {
    background-color: #f9f9f9;
}

.list-table-format img {
    width: 60px;
}

.link-reset {
    text-decoration: none; 
    display: inline-block;
  }
  
  .action .add-img,
  .action .action-img {
    width: 30px; 
    height: 30px;
    cursor: pointer;
    margin: 0 5px; 
    object-fit: contain; 
    border: none; 
  }
  
  .add-img{
    width: 40px;
    height: 40px;
  }
  .action .action-img:hover,
  .action .add-img:hover {
    opacity: 0.8; 
    transform: scale(1.05); 
    transition: all 0.2s ease;
  }



@media(max-width:600px){
    .list-table-format{
        grid-template-columns: 1fr 3fr 1fr;
        gap: 15px;
    }
    .list-table-format.title{
        display: none;
    }

}